@import '../../variables.scss';

.footer {
  width: 100%;
  background-color: $footer-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.75rem;
  padding-bottom: 1.875rem;

  &__header {
    font-family: "Montserrat-Bold";
    font-size: 0.75rem;
    color: $text-color-dark;
  }

  &__icons {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
  }

  &__icon {
    border-radius: 50%;
    border: 0.125rem solid $icon-border-color-dark;
    color: $icon-color-dark;
    width: 2.125rem;
    height: 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 0.2813rem;
  }

  &__company-title {
    font-family: "Pacifico";
    letter-spacing: 0.125rem;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: $text-color-dark;
  }

  &__copyright-text {
    font-family: "axis";
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    margin-top: 1.5rem;
    text-align: center;
    color: $text-color-dark;
  }
}
